body {
  margin: 0;
  width: 90%;
  height: 90%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;;
}

h1 {
  margin: 0.5em auto;
  text-align: center;
  font-size: 40px;
}

form {
  width: 70%;
  height: 70%;
  margin: auto;
  padding-bottom: 1em;
}

fieldset {
  font-size: 20px;
}

label {
  margin: 0.5rem 1rem;
  width: 80%;
  height: 30%;
  padding: 0.5rem 0;
  text-align: left;
}

label:first-of-type {
  margin-top: 0;
}

label:last-of-type {
  margin-bottom: 0;
}

input[type="text"], [type="file"] {
  display: block;
}

input[type="submit"] {
  width: 20vw;
  height: 20%;
  max-width: 20vw;
  min-width: 10vw;
  margin: 0 auto;
}

main {
  text-align: center;
}

